/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main_font);
  font-variation-settings: var(--main_font-wheight);
  background-image: 
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
}

.container {
  inline-size: var(--container-width);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  padding: 0;
}

.header_block {
  font-family: var(--accent_font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-block-size: 325px;
  gap: 20px;
  margin: 100px auto;
}

.header_title {
  font-size: clamp(49px, 100%, 65px);
}

.header_subtitle {
  font-size: 14px;
  text-transform: uppercase;
}

.content-card {
  margin: 0 auto 52px auto;
  display: grid;
}

.content-card_title {
  font-variation-settings: var(--title_font-wheight);
  font-size: var(--main_font-size);
  padding: 4px 10px;
}

.img_container {
  position: relative;
  inline-size: 100%;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent_font);
  font-size: 14px;
  opacity: 50%;
  text-shadow:
  1px 0 var(--accent-color), 
  0 1px var(--accent-color), 
  -1px 0 var(--accent-color), 
  0 -1px var(--accent-color);
  color: #fff;
  mix-blend-mode: hard-light;
  z-index: 2;
}

@supports((text-stroke: 1px var(--accent-color)) or (-webkit-text-stroke: 1px var(--accent-color))) {
  .label {
    -webkit-text-stroke: 1px var(--accent-color);
    text-stroke: 1px var(--accent-color);
    text-shadow: none;
  }
} 

.card_image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.first_sprint_start {
  filter: saturate(30%);
}

.first_sprint_end {
  filter: brightness(120%) contrast(1.5);
}

.second_sprint_start {
  filter: hue-rotate(180deg);
}

.second_sprint_end {
  filter: invert(100%);
}

.third_sprint_start {
  filter: sepia(60%);
}

.third_sprint_end {
  filter: blur(0.8rem);
}

.zero_sprint {
  filter: grayscale(1);
}

.text-block {
  padding: 23px 25px 25px 25px;
  font-size: var(--main_font-size);
  display: grid;
  gap: 25px;
  line-height: 21px;
}

.button {
  font-family: var(--accent_font);
  font-size: 14px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button-block {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
  margin: 0 25px 25px 0;
  padding: 0;
}

.button::after {
  content: '';
  background-color: var(--background-color);
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.button:hover::after {
  transform: translateX(0);
}

.button__text {
  display: block;
  position: relative;
  margin: auto;
}

.card__icon-button {
  background-color: transparent;
  padding: 0;
  align-self: center;
  inline-size: 38px;
  block-size: 38px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: 0.1s linear;
}

.core {
  transition: 0.3s linear 0.03s;
}

.main-body {
  transition: 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill:var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:is(.is-liked) .contour {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.06s;
}

.like-icon:is(.is-liked) .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:is(.is-liked) .core {
  fill:var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.saving-button {
  inline-size: 306px;
  margin: 50px auto;
  line-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 18px;
}

dialog {
  inline-size: clamp(341px 100% 353px);
  padding: 28px 38px;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  align-items: center;
  font-family: var(--accent_font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

dialog svg.floppy {
  width: 39px;
  height: 39px;
}

.submit_button {
  grid-column: span 2;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  text-transform: uppercase;
  padding: 10px 114px;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
} 

@media (width > 376px) {
.header_block {
  min-block-size: 368px;
  }
  
.header_title {
  font-size: 65px;
  }

.header_subtitle {
  font-size: 23px;
  }

.saving-button {
  flex-direction: row;
  padding: 16px 18px;
  min-inline-size: 335px;
  }

.floppy {
  width: 21px;
  height: 21px
}

dialog {
  max-inline-size: 353px;
  padding: 28px;
}
}

@media (prefers-reduced-motion: reduce) {
  .like-icon.is-liked .heart {
    animation: none;
  }

  .like-icon.is-liked .sparks {
    animation: none;
  }
}

